# compiled output
dist/*
packages/**/dist
/apps/**/dist
# node_modules
/node_modules
/apps/**/node_modules
/packages/**/node_modules/

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# config yaml file
packages/config/static/config.dev.yaml
packages/config/static/config.prod.yaml
packages/**/tsconfig.build.tsbuildinfo
packages/**/tsconfig.tsbuildinfo
